extends ../layout

block content
  h1.page-header= title
    a(href="/class/create", class="btn pull-right") 
      span(class="glyphicon glyphicon-plus")
  div(class="container-center")
    table(class="table table-striped")
      thead
        tr
          th #
          th Name
          th Short Code
      tbody
        - var i = 1;
        - for item in classes
          tr
            td= i
            td 
              a(href="/class/find/" + item._id)= item.name
            td= item.code
            - i = i + 1
    ul(class = "pagination")
      - if (page-1 > 0)
        li.previous
          a(href="/class/index?page=#{page-1}") prev
      - for (var i = 0; i < pages; i++)
        - if (i == page-1)
          li.disabled
            a(href="/class/index?page=#{i}")= i+1
        - else
          li.active
            a(href="/class/index?page=#{i}")= i+1
      - if (pages > page)
        li.next
          a(href="/class/index?page=#{page}") next  