extends ../layout

mixin displayAttr(label, attr)
  if attr != ""
    div(class="display-label")
      b= label 
      = " " + attr

block append head
  link(rel='stylesheet', href='/stylesheets/spell.css')

block content
  div(class="container-center")

    h2.page-header= title
      a(href="/spell/edit/#{spell._id}", class="bt pull-right")
        span(class="glyphicon glyphicon-edit", style="color:#419641")
      a(href="/spell/delete/#{spell._id}", id="delete", class="bt pull-right")
        span(class="glyphicon glyphicon-trash", style="margin-right: 10px; color:#c12e2a;")
    div(class="display-field")= spell.school

    mixin displayAttr("Levels:", spell.level)
    mixin displayAttr("Components:", spell.components)
    mixin displayAttr("Casting Time:", spell.castingTime)
    mixin displayAttr("Range:", spell.range)
    mixin displayAttr("Target:", spell.target)
    mixin displayAttr("Effect:", spell.effect)
    mixin displayAttr("Area:", spell.area)
    mixin displayAttr("Duration:", spell.duration)
    mixin displayAttr("Saving Throw:", spell.savingThrow)
    mixin displayAttr("Spell Resistance:", spell.spellResistance)
    mixin displayAttr("Material Component:", spell.materialComponent)
    mixin displayAttr("XP Cost:", spell.xpcost)
    mixin displayAttr("Reference:", spell.references)

    div(class="description")!= spell.description

block script
  script(src="/javascripts/bootbox.min.js")
 
  script
    $(document).ready(function () {

        $('#delete').click(function(e) {
            e.preventDefault();

            bootbox.dialog({
                message: "Do you want to delete D&amp;D Spell <b>#{title}</b>?",
                title: "Danger",
                buttons: {
                    success: {
                        label: "Yes",
                        className: "btn-success",
                        callback: function() {
                            window.location = "/spell/delete/#{spell._id}";
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger",
                        callback: function() {
                            bootbox.hideAll();
                        }
                    }
                }
            });
        });
    });